body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/Assets/background.jpg');
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 40px;
    margin-left: 30px;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-left: 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.75rem 1rem;
    margin: 0 0.25rem;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: #575757;
}

.content {
    width: 90%;
    max-width: 1200px;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-section {
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #1c1c1c;
    text-align: center;
}

.media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.media-container iframe,
.media-container img,
.media-container video,
.media-container audio {
    max-width: 100%;
    height: auto;
}

h2 {
    margin-top: 0;
    color: #ccc;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.image-container:hover .overlay {
    opacity: 1;
}

.text {
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
}

/* Responsive design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
    
    .nav-links {
        flex-direction: column;
        align-items: center;
    }
    
    .nav-links a {
        margin: 0.5rem 0;
    }
}